*{
    background-color: #f3f5fc;
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
}


.logo{
    padding-top: 23px;
    margin-left: 34px;
    width: 5%;
    display: flex;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.texto-a-encriptar{
    border: none;
    color: #0a3871;
    margin-top: 30px;
    text-transform: lowercase;
    margin-left: 164px;
}

::placeholder { color: #0a3871; }
.texto-a-encriptar:focus {
        outline: none;
    }

.informacion{
    color: #495057;
    font-size: 18px;
    margin-left: 172px;
    margin-bottom: 27px;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 171px;
    width: 328px;
}

.btn-desencriptar{
    background-color: #d8dfe8;
    border: 1px solid  #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 50px;
    
}

.mensaje-encriptado{
    background-color: white;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 209px;
    padding:0 20px;
    background-position: center;
    background-position-y: 140px;
    height: 702px;
    font-family: 'Roboto Mono', monospace;
    font-size: calc(1em - 5px);
}

.mensaje-encriptado:focus{
    outline: none;
}

#caja{
    width: 260px;
    font-size: 21px;
    height: 190px;
    position: absolute;
    top: 500px;
    right: 82px;
    background-color: white;
    text-align: center;
    line-height: 1.7;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    animation: animacion-entrada 3s  cubic-bezier(0,2,1,0) 0s 1;
    color: rgba(73,64,211,5);
    text-shadow: 1px 1px rgb(102 186 255);
    overflow: hidden;
    outline: rgb(61 98 265) 4px double;
    box-shadow: 0px 0px 23px 1px rgb(58 124 255),rgb(102 186 255) inset 0px 0px 10px 0px, rgb(64 98 265) 0px 0px 10px 3px;
    padding: 6px;
    transition: all 0s;
}

@keyframes animacion-entrada {
    0%{ right: -294px;}
    25%{right: -245px; transform: scaleX(1.1) rotate(6deg);}
    50%{right: -119px; transform: rotate(8deg) scaleX(1.1) scaleY(0.95); }
    75%{right:0px; transform: scaleX(0.88) scaleY(0.90); }
    87.5%{right: 80px; transform: rotate(-6deg) scaleX(0.95) scaleY(0.95);}
    96%{right: 62px;  top: 500px; transform: rotate(0deg) scaleX(1) scaleY(1) ;}
    100%{right: 62px;  top: 500px; }
}

@keyframes animacion-explicacion {
    0%{ right: 62px; top: 490px;transform: rotateX(10deg)   scaleX(1.06)  scaleY(0.89)}
    20%{right: 74px; top: 540px; transform: rotateY(8deg)   scaleX(0.92)  scaleY(1.04); }
    40%{right: 87px; top: 500px; transform: rotateX(28deg)  scaleX(1.06)  scaleY(0.91);}
    60%{right: 104px; top: 550px; transform: rotateX(4deg)   scaleX(0.91)   scaleY(1.05);}
    80%{ right: 85px; top: 500px; transform: rotateY(25deg) scaleX(1.05)  scaleY(0.87) ;}
    100%{right: 68px; top: 550px; ; transform: rotateX(4deg)scaleX(0.9)  scaleY(1.06);}
}

#caja h4{
    background-color: white;
    font-weight: bold;
    padding-top: 18px;
}

#caja p{
    background: white;
    font-size: 16px;
    font-weight: 500;
    padding-top: 16px;
}



#copiar{
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 232px;
    margin-top: -131px;
    position: absolute;
    width: 336px;
    background-color: white;
    visibility: hidden;
}

/*.mensaje-encriptado::-webkit-input-placeholder{
    position: absolute;
    top: 475px;
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
}*/
